jupyter-book
matplotlib
seaborn
numpy
pandas
torch
torchvision
tqdm
scikit-learn
ghp-import
# pydata-sphinx-theme 0.16 breaks sidebar
pydata-sphinx-theme<0.16
# I'd love to use pyhere to manage paths
# unfortunately, I think this would break things in Google Collab :(
pyhere
