# use jupyter-book version 2!
#jupyter-book==2.*
# only pre-release version available yet apparently
jupyter-book>=2.0
matplotlib
seaborn
numpy
pandas
torch
torchvision
tqdm
scikit-learn
ghp-import
# pydata-sphinx-theme 0.16 breaks sidebar
# no longer required after upgrading to jupyter book >= 2.0
# pydata-sphinx-theme<0.16
# I'd love to use pyhere to manage paths
# unfortunately, I think this would break things in Google Collab :(
pyhere
# reinforcement learning environments
gymnasium[classic-control,box-2d]
